// Colors
$brand-primary: #d8ac61;
$brand-primary-light: #e5c89a;
$brand-blue: #0c6787;
$brand-blue-dark: #38424f;
$gray-light: #ededed;
$gray-medium: #7b7f88;
$gray-dark: #5e5e5e;

$black:                     #000;
$white:                     #fff;

// Objects
$text-color:                $black;
$link-color:                $brand-primary;
$link-hover-color:          darken($link-color, 10%);

$selection-bg-color:        $link-color;
$selection-text-color:      $text-color;

$btn-color-primary:         $white;

// Typography
$font-family-base:        'Abhaya Libre', serif;
$font-size-default:       400;
$font-family-medium:      500;
$font-family-bold:        700;
$font-family-bolder:      800;


// Screen Sizes
$screen-xs-max: 767px;
$screen-sm:     768px;
$screen-sm-max: 1023px;
$screen-md:     1024px;
$screen-md-max: 1199px;
$screen-lg:     1200px;
